nav{
    width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;

    .container{
        .nav{
            width: 100%;
            padding: 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul{
                display: flex;
                gap: 10px;
li{
    a{
        color:#222 ;
    }
}
            }
            menu{
                display: none;
            }
        }
    }
}
@media screen and (max-width: 991px) {
nav{
    .container{
        .nav{
            ul{
                display: none;
            }
            menu{
                display: block;
            }
        }
    }
}
}